# HACKATHON TASK

In [111]:
#IMPORT LIBRARYS
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [112]:
#LOAD DATASET
data = pd.read_csv("data.csv")
data

              x1            x2  y
0    -119.366669  1.150000e+02  1
1    -101.108045  9.777716e+01  1
2    -130.278658  1.067677e+02  1
3    -114.703415  1.011955e+02  1
4    -119.366669  1.150000e+02  1
...          ...           ... ..
2222   98.714112  8.964312e+01  0
2223   96.633331  9.100000e+01  0
2224   85.673940  1.038393e+02  0
2225   78.958862  7.860537e+01  0
2226  109.624009  1.000000e+08  0

[2227 rows x 3 columns]

In [113]:
#TOTAL ROWS IN DATASET
data.shape[0]
print('There are Total {}  rows in Dataset'.format(data.shape[0]))

There are Total 2227  rows in Dataset

In [114]:
#FIND NULL VALUES IN DATASET
data.isnull().sum()

x1    5
x2    3
y     0
dtype: int64

In [115]:
#basic statistical detail OF DATASET
data.describe()

                x1            x2            y
count  2222.000000  2.224000e+03  2227.000000
mean     -4.818766  8.947626e+04     0.442299
std      74.939909  2.983323e+06     0.496771
min    -134.369160 -1.348761e+02     0.000000
25%     -71.757030 -8.012983e+01     0.000000
50%      -9.836555 -1.046151e+00     0.000000
75%      59.813962  6.389086e+01     1.000000
max     134.508687  1.000000e+08     1.000000

In [116]:
# BASIC INFO OF DATASET
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2227 entries, 0 to 2226
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      2222 non-null   float64
 1   x2      2224 non-null   float64
 2   y       2227 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 52.3 KB

In [117]:
#NULL VALUE FILL USING FORWARD FILL
new_data = data.ffill()
data

              x1            x2  y
0    -119.366669  1.150000e+02  1
1    -101.108045  9.777716e+01  1
2    -130.278658  1.067677e+02  1
3    -114.703415  1.011955e+02  1
4    -119.366669  1.150000e+02  1
...          ...           ... ..
2222   98.714112  8.964312e+01  0
2223   96.633331  9.100000e+01  0
2224   85.673940  1.038393e+02  0
2225   78.958862  7.860537e+01  0
2226  109.624009  1.000000e+08  0

[2227 rows x 3 columns]

In [118]:
#BASIC INFORMATION OF DATASET
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2227 entries, 0 to 2226
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      2227 non-null   float64
 1   x2      2227 non-null   float64
 2   y       2227 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 52.3 KB

In [119]:
#DEFINE X AND Y FOR MODEL BUILDING
X = new_data.drop(['y'],axis=1)
Y = new_data['y']
Y=np.array(Y)

In [120]:
#Logistic Regression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)
import sklearn.linear_model as lmod
model = lmod.LogisticRegression(random_state=42)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

# print accuracy using metrics library
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a
print("LOGISTIC REGRESSION MODEL ACCURACY:",a)

LOGISTIC REGRESSION MODEL ACCURACY: 0.5515695067264574

In [121]:
import warnings
warnings.filterwarnings('ignore')
# SVM with Linear Kernel
from sklearn import svm
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20)
y_test
model = svm.LinearSVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
# print accuracy using metrics library
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a
print("SVM WITH LINEAR KERNAL MODEL ACCURACY:",a)

SVM WITH LINEAR KERNAL MODEL ACCURACY: 0.5358744394618834

In [122]:
#SVM with rbf Kernel
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20)
y_test
model = SVC(kernel="rbf")
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
# print accuracy using metrics library
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a
print("SVM WITH RBF KERNAL MODEL ACCURACY:",a)

SVM WITH RBF KERNAL MODEL ACCURACY: 0.547085201793722

In [123]:
#DECISION TREE
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.1)
y_test
model=DecisionTreeClassifier(max_depth=5)
model.fit(x_train,y_train)
print(model)
y_pred = model.predict(x_test)
y_pred
# print accuracy using metrics library
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a
print("DECISION TREE MODEL ACCURACY:",a)

DecisionTreeClassifier(max_depth=5)
DECISION TREE MODEL ACCURACY: 0.9327354260089686

In [124]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.1)
y_test
model = KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)
print(model)
y_pred = model.predict(x_test)
y_pred
# print accuracy using metrics library
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a
print("KNN MODEL ACCURACY:",a)

KNeighborsClassifier(n_neighbors=3)
KNN MODEL ACCURACY: 0.9417040358744395

In [125]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
log_clf=LogisticRegression()
slinear= svm.LinearSVC()
srbf=SVC(kernel="rbf")
Des_clf=DecisionTreeClassifier(max_depth=5)
knn=KNeighborsClassifier(n_neighbors=3)

In [126]:
for clf in(log_clf,slinear,srbf,Des_clf,knn):
    clf.fit(x_train,y_train)
    
    y_pred=clf.predict(x_test)
    print(clf.__class__.__name__, accuracy_score(y_test,y_pred))

LogisticRegression 0.57847533632287
LinearSVC 0.5515695067264574
SVC 0.6053811659192825
DecisionTreeClassifier 0.9461883408071748
KNeighborsClassifier 0.9417040358744395

# I would prefer decision tree classification on this dataset because it predicts more accurate result than the other Machine Learning models.